@import '../../../theme/boomui-var';

body {
  margin: 0;
}

.#{$boom-prefix}-layout {
  display: inline-block;
  z-index: -1;
  align-items: center;
  background: $boom-global-bg-normal;
  color: $boom-text;      // 文本颜色
  text-align: center;
  flex-direction: column;
  min-width: 550px;
  min-height: 300px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.#{$boom-prefix}-layout.#{$boom-prefix}-layout__bg {
  &--normal {
    .#{$boom-prefix}-aside {
      display: none;
    }
    .#{$boom-prefix}-header {
      display: none;
    }
    .#{$boom-prefix}-content {
      margin: 0% 10%;
    }
  }

  &--header {
    .#{$boom-prefix}-aside {
      display: none;
    }
  }

  &--header,
  &--header-left-aside,
  &--header-right-aside {
    .#{$boom-prefix}-aside, .#{$boom-prefix}-content {
      margin-top: 60px;
    }
  }

  &--left-aside,
  &--right-aside {
    .#{$boom-prefix}-header {
      display: none;
    }
  }

  &--left-aside,
  &--header-left-aside {
    .#{$boom-prefix}-aside {
      left: 0;
    }
    .#{$boom-prefix}-content {
      margin-left: 200px;
    }
  }

  &--right-aside,
  &--header-right-aside {
    .#{$boom-prefix}-aside {
      right: 0;
    }
    .#{$boom-prefix}-content {
      margin-right: 200px;
    }
  }
}
