// 基础色值

// 取色规则1： 所有使用颜色均需要在色板中选择
// 取色规则2： 除标签等用于功能分类及black,white的取色可以增加透明度(eg: rgba($boom-white-5,0.3)，其余场景均不允许

$boom-blue-5: #f2f5fc;
$boom-blue-10: #e9edfa;
$boom-blue-20: #beccfa;
$boom-blue-30: #96adfa;
$boom-blue-40: #7693f5;
$boom-blue-50: #5e7ce0;
$boom-blue-60: #526ecc;
$boom-blue-70: #465eb8;
$boom-blue-80: #3c51a6;
$boom-blue-90: #344899;
$boom-blue-100: #2a3c85;
$boom-sky-5: #ebf6ff;
$boom-sky-10: #d1ebff;
$boom-sky-20: #b8e0ff;
$boom-sky-30: #9ed5ff;
$boom-sky-40: #85caff;
$boom-sky-50: #6cbfff;
$boom-sky-60: #4ea6e6;
$boom-sky-70: #3590cc;
$boom-sky-80: #207ab3;
$boom-sky-90: #0f6999;
$boom-sky-100: #035880;
$boom-green-5: #edfff9;
$boom-green-10: #cffcee;
$boom-green-20: #acf2dc;
$boom-green-30: #8be8cb;
$boom-green-40: #6ddebb;
$boom-green-50: #50d4ab;
$boom-green-60: #3ac295;
$boom-green-70: #27b080;
$boom-green-80: #169e6c;
$boom-green-90: #088c58;
$boom-green-100: #007a45;
$boom-lime-5: #f0ffe6;
$boom-lime-10: #e5ffd4;
$boom-lime-20: #d8fcc0;
$boom-lime-30: #c5f2a7;
$boom-lime-40: #b3e890;
$boom-lime-50: #a6dd82;
$boom-lime-60: #92cc68;
$boom-lime-70: #7eba50;
$boom-lime-80: #6ca83b;
$boom-lime-90: #5e9629;
$boom-lime-100: #518519;
$boom-yellow-5: #fffbf0;
$boom-yellow-10: #fff1c2;
$boom-yellow-20: #ffe794;
$boom-yellow-30: #ffdc66;
$boom-yellow-40: #ffd138;
$boom-yellow-50: #fac20a;
$boom-yellow-60: #e3aa00;
$boom-yellow-70: #cc9600;
$boom-yellow-80: #b58200;
$boom-yellow-90: #9e6f00;
$boom-yellow-100: #875c00;
$boom-orange-5: #fff3e8;
$boom-orange-10: #ffe1c7;
$boom-orange-20: #ffd0a6;
$boom-orange-30: #ffbf85;
$boom-orange-40: #ffad63;
$boom-orange-50: #fa9841;
$boom-orange-60: #e37d29;
$boom-orange-70: #cc6414;
$boom-orange-80: #b54e04;
$boom-orange-90: #9e3f00;
$boom-orange-100: #873400;
$boom-red-5: #ffeeed;
$boom-red-10: #ffd5d4;
$boom-red-20: #ffbcba;
$boom-red-30: #ffa4a1;
$boom-red-40: #ff8b87;
$boom-red-50: #f66f6a;
$boom-red-60: #de504e;
$boom-red-70: #c73636;
$boom-red-80: #b02121;
$boom-red-90: #991111;
$boom-red-100: #820404;
$boom-magenta-5: #ffedf3;
$boom-magenta-10: #ffd4e3;
$boom-magenta-20: #ffbad2;
$boom-magenta-30: #ffa1c2;
$boom-magenta-40: #fc86b0;
$boom-magenta-50: #f3689a;
$boom-magenta-60: #db4d83;
$boom-magenta-70: #c4356e;
$boom-magenta-80: #ad215b;
$boom-magenta-90: #96114d;
$boom-magenta-100: #800440;
$boom-purple-5: #f5f0ff;
$boom-purple-10: #e7d9ff;
$boom-purple-20: #d8c2ff;
$boom-purple-30: #caabff;
$boom-purple-40: #bc94ff;
$boom-purple-50: #a97af8;
$boom-purple-60: #8a5ce0;
$boom-purple-70: #6f42c9;
$boom-purple-80: #572db3;
$boom-purple-90: #3f1a9c;
$boom-purple-100: #2a0c85;
$boom-gray-5: #f5f5f5;
$boom-gray-10: #ebebeb;
$boom-gray-20: #e0e0e0;
$boom-gray-30: #d1d1d1;
$boom-gray-40: #bdbdbd;
$boom-gray-50: #8a8a8a;
$boom-gray-60: #878787;
$boom-gray-70: #707070;
$boom-gray-80: #5c5c5c;
$boom-gray-90: #474747;
$boom-gray-100: #383838;
$boom-slate-5: #f7f8fa;
$boom-slate-10: #eef0f5;
$boom-slate-20: #dfe1e6;
$boom-slate-30: #d7d8da;
$boom-slate-40: #cfd0d3;
$boom-slate-50: #babbc0;
$boom-slate-60: #9b9fa8;
$boom-slate-70: #71757f;
$boom-slate-80: #575d6c;
$boom-slate-90: #323745;
$boom-slate-100: #252b3a;
$boom-zinc-5: #f8f8fa;
$boom-zinc-10: #f2f2f3;
$boom-zinc-20: #e2e2e6;
$boom-zinc-30: #d5d5db;
$boom-zinc-40: #c7c7d1;
$boom-zinc-50: #aeaebd;
$boom-zinc-60: #9696a3;
$boom-zinc-70: #7a7a85;
$boom-zinc-80: #63636b;
$boom-zinc-90: #494952;
$boom-zinc-100: #37373d;
$boom-dark-gray-5: #16181a;
$boom-dark-gray-10: #202124;
$boom-dark-gray-20: #292a2e;
$boom-dark-gray-30: #2e2f33;
$boom-dark-gray-40: #323338;
$boom-dark-gray-50: #393a3e;
$boom-dark-gray-60: #4e5057;
$boom-dark-gray-70: #696c75;
$boom-dark-gray-80: #868a99;
$boom-dark-gray-90: #acb0bd;
$boom-dark-gray-100: #ced1db;
$boom-dark-slate-5: #0e111a;
$boom-dark-slate-10: #141721;
$boom-dark-slate-20: #1a1e29;
$boom-dark-slate-30: #232633;
$boom-dark-slate-40: #2c303e;
$boom-dark-slate-50: #33384b;
$boom-dark-slate-60: #444b61;
$boom-dark-slate-70: #626a85;
$boom-dark-slate-80: #878ea8;
$boom-dark-slate-90: #a3aac2;
$boom-dark-slate-100: #c1c7db;
$boom-dark-zinc-5: #1a1a1c;
$boom-dark-zinc-10: #212124;
$boom-dark-zinc-20: #28282b;
$boom-dark-zinc-30: #2f2f33;
$boom-dark-zinc-40: #353537;
$boom-dark-zinc-50: #3d3d42;
$boom-dark-zinc-60: #4b4b52;
$boom-dark-zinc-70: #575861;
$boom-dark-zinc-80: #767680;
$boom-dark-zinc-90: #9898a3;
$boom-dark-zinc-100: #b7b7c7;
$boom-white-5: #ffffff;
$boom-black-5: #000000;
